
p {

    color: rgba(119, 0, 255, 0.685);
    font-size: 50px;
}
h1 {

    color: red;
    font-size: 100px;
}

.blue {
    color: #0000FF;
}

.bold {
    font-weight: bold;
    
}

p{
    text-decoration: underline;                /* 1. underline */

p{
    text-decoration: overline;               /* 1. overline */
}

p{
    text-decoration: line-through;              /* 1. cut thr line */
}